.title-homepage {
  grid-row: 2; /* Position unterhalb des Headers */
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  max-height: 250px;
  gap: 180px; /* Abstand zwischen Text und Icon */
  background-color: #f6f7ff; /* Hintergrundfarbe */
  color: #000; /* Textfarbe */
  margin-top: 55px;
}
.text-container {
  align-items: center;
  margin-left: 60px;
}
.text-container h1 {
  font-size: 80px; /* Größe der Überschrift */
  margin-bottom: 50px; /* Abstand nach unten zum Technologie Text */
  text-align: center;
}
.text-container p {
  font-size: 20px; /* Größe der Beschreibung */
  line-height: 1.5; /* Zeilenhöhe für Lesbarkeit */
  margin: 0; /* Keine zusätzlichen Abstände */
  text-align: center;
}
.icon-container img {
  width: 550px;
  height: auto;
}
.line {
  grid-column: 1 / -1; /* Linie nimmt beide Spalten ein */
  height: 3px;
  background-color: black;
  margin-top: -350px;
}
.grid-3 {
  grid-row: 3;
  display: grid;
  max-height: 30px;
  grid-template-rows: auto auto; /* Eine Zeile für jeden Inhalt */
  row-gap: 5px; /* Abstand zwischen den Zeilen */
  margin-top: 260px;
  font-size: 40px;
  text-align: left;
  margin-left: 40px;
}
.blog-button {
  background-color: #b3a7f2; /* Hintergrundfarbe */
  color: white; /* Textfarbe */
  padding: 20px 10px; /* Innenabstand */
  border: none; /* Keine Rahmen */
  border-radius: 50px; /* Abgerundete Ecken */
  font-size: 16px; /* Schriftgröße */
  cursor: pointer; /* Zeiger bei Hover */
  text-decoration: none; /* Kein Unterstrich */
  font-size: 30px;
  font-weight: bold;
  max-width: 1100px;
  margin-left: 150px;
  word-spacing: 3px;
}
.blog-button:hover {
  background-color: #9385da;
}
